body{
    margin: 0 2%;
}

.my-info{
    display: grid;
    grid-template-rows:auto auto auto;
    row-gap:7%;
}

.rabot{
    display: flex;
    flex-direction: row;
    column-gap:8%;
    padding-left: 5%;
}

.first{
    display: flex;
    flex-direction: row;
    
    column-gap:8%;
}

.second{
    display: flex;
    flex-direction: column;
    
}

.third{
    display: flex;
    flex-direction: column;
    
    
}

.fourth{
    display: flex;
    flex-direction: column;
    
}

.fifth{
    display: flex;
    flex-direction: column;
    
}

img{
    width: 14%;
    height: auto;
    margin: 3%;
    border-radius: 30%;
}

.info{
    margin-top: 2%;
}

.second{
    margin-top: 2%;
}