@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

body{
    margin: 0 2%;
    font-family: 'Podkova',  sans-serif;
    font-size: 130%;
    background: url("phon.jpg") ;
    /*background-size: cover;*/
}

.my-info{
    display: grid;
    grid-template-rows:auto auto auto;
    row-gap:7%;
    
}

.rabot{
    display: flex;
    flex-direction: row;
    column-gap:8%;
    padding-left: 5%;
}

.first{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    column-gap:8%;
}

.second{
    display: flex;
    flex-direction: column;
    
}

.third{
    display: flex;
    flex-direction: column;
    
    
}

.fourth{
    display: flex;
    flex-direction: column;
    
}

.fifth{
    display: flex;
    flex-direction: column;
    
}

img{
    width: 14%;
    height: 70%;
    margin: 3%;
    border-radius: 30%;
}

.info{
    margin-top: 2%;
}

.second{
    margin-top: 2%;
}
.time{
    text-align: center;
    border: 2px solid ;
    border-radius: 60%;
}

footer{
    display: flex;
    flex-direction: row;
    margin-left: 39%;
    margin-top: 4%;
    column-gap:8%;
    
}