body{
    margin: 0 2%;
}

.my-info{
    display: grid;
    grid-template-rows:auto auto auto;
    row-gap:3%;
}

.rabot{
    display: flex;
    flex-direction: row;
}

.first{
    display: flex;
    flex-direction: row;
    
}

.second{
    display: flex;
    flex-direction: column;
    
}

.third{
    display: flex;
    flex-direction: column;
    
    
}

.fourth{
    display: flex;
    flex-direction: column;
    
}

.fifth{
    display: flex;
    flex-direction: column;
    
}

img{
    width: 14%;
    height: auto;
    margin:5%;
    border-radius: 30%;
}