.my-info{
    display: grid;
    grid-template-rows: auto auto auto;
}
.first{
    display: flex;
    flex-direction: row
}
.second{
    display: flex;
    flex-direction: column;
}
.third{
    display: flex;
    flex-direction: row;
}
.fourth{
    display: flex;
    flex-direction: row;
}
.fifth{
    display: flex;
    flex-direction: row;
}